body {
    background-color: #000000;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: #FFD700;
    text-align: center;
    margin-top: 5%;

    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
}

p {
    text-align: center;
}

a{
    text-decoration: none;
    color: #DEAE36;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
